@model MvcUI.Models.Answer

@{
    Layout = null;
}

<div class="stroke">
    @using (Html.BeginForm("AddAnswer", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label>Добавить вариант ответа</label>
        @Html.EditorForModel();
        <br />
        <input class="btn btn-inverse" type="submit" value="Добавить" />
    }
</div>
