@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Public</title>
    @Styles.Render("~/Content/error/css")
</head>
<body>
    <div class="message">
        <a href="/video145253738_170824562?list=84fea594df279d947a" onclick="return showInlineVideo('145253738_170824562', '84fea594df279d947a', {autoplay: 1, addParams: { post_id: '25969050_2821' }}, event, this);" style="width: 337px; height: 189px;" class="page_post_thumb_wrap  page_post_thumb_video page_post_thumb_last_column page_post_thumb_last_row"><div class="page_post_video_play_inline"></div><div class="page_post_video_duration_single">1:03</div><img src="https://pp.vk.me/c634501/u145253738/video/x_f3977615.jpg" width="337" height="189" style="margin-left: 0px;" class="page_post_thumb_sized_photo"></a>
    </div>
</body>
</html>


