@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Public</title>
    @Styles.Render("~/Content/error/css")
</head>
<body>
    <div class="message">
        <div class="page_post_sized_thumbs  clear_fix" style="width: 337px; height: 189px;">
            <a href="/video25969050_171391487?list=332030b3ebfc875707" onclick="return showInlineVideo('25969050_171391487', '332030b3ebfc875707', {autoplay: 1, addParams: { post_id: '25969050_2822' }}, event, this);" style="width: 337px; height: 189px; display: none;" class="page_post_thumb_wrap  page_post_thumb_video page_post_thumb_last_column page_post_thumb_last_row"><div class="page_post_video_play_inline"></div><div class="page_wm"></div><div class="page_post_video_duration_single">1:04</div><img src="https://pp.vk.me/c621821/u25969050/video/y_defe66ee.jpg" width="337" height="252" style="margin-top: -31px;" class="page_post_thumb_sized_photo"></a><div id="page_video_inline_wrap25969050_171391487" class="page_video_inline_wrap" style="width: 337px; height: 189px;">
                <div class="video_external_inline">
                    <div class="video_box_wrap" style="width: 337px; height: 189px; overflow: hidden;">
                        <iframe id="video_player" preventhide="1" onload="if (1 &amp;&amp; cur &amp;&amp; cur.incViews) cur.incViews();" onmouseover="if (cur &amp;&amp; cur.incViews) cur.incViews();" type="text/html" width="337" height="189" src="https://www.youtube.com/embed/j-BnDH2wd-A?autoplay=1&amp;autohide=1&amp;wmode=opaque&amp;showinfo=0&amp;fs=1" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


